* {
  padding: 0px;
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e65c8b;
}

.bs{
  height: 2rem;
  padding: 4px;
}
i{
  cursor: pointer;
  padding: 5px;
}

.container {

 /* border: solid 1px red; */
  max-width: 30%;
  min-height: fit-content;
  text-align: center; 
  font-size: 1rem;
  background-color: #394049;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
position: relative;  
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto; 
  box-sizing: border-box;
  
}
button{
  background-color: #394049;
  border-style: none;
}

.container input {
  width: 60%;
  box-sizing: border-box;
  background-color: #31373e;
  color: #4e545c;
  border-color: #32373f;
  border-radius: 3px;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-family:'Roboto', sans-serif;
  color: white;
}

#listaTarefa {
  list-style: none;
  text-align: start;
  margin: 30px 20px;
}

li {
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #f0f5fa;
}

.apagar {
  cursor: pointer;
  background-image: url(../images/thresh.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14px;
}

.marcar {
  cursor: pointer;
  background-image: url(../images/check.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 16px;
  margin-right: 10px;
}

.concluir {
  text-decoration: line-through;
  text-decoration-color: crimson;
}

.flexzada{
  display: flex;
  justify-content: space-between;
}