* {
  padding: 0px;
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e65c8b;
}

.container {

 /* border: solid 1px red; */
  width: 32%;
  padding: 30px;
  text-align: center; 
  font-size: 1rem;
  background-color: #394049;
  border-radius: 20px;

  /*Metodo antigo de centralização de div, mas optei por usar pra relembrar */
  position: relative;  
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  
}

.container input {
  width: 60%;
  box-sizing: border-box;
}

.container button {
  width: 36%;
  cursor: pointer;
}

.bs {
  border-radius: 6px;
  border-style: none;
  padding: 8px;
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 4rem;
  font-family: 'Anton', sans-serif;
}

#listaTarefa {
  list-style: none;
  text-align: start;
  padding: 10px;
  position: relative;
}

li {
  background-color: rgba(177, 107, 64, 0.5);
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

#tarefaInput:focus {
  outline-color: rgba(20, 226, 147, 0.5);
}

.apagar {
  cursor: pointer;
  position: absolute;
  right: 15px;
  background-image: url(../images/thresh.png);
  background-size: cover;
  padding: 13px;
  box-sizing: border-box;
}

.marcar {
  cursor: pointer;
  position: absolute;
  right: 47px;
  background-image: url(../images/check.png);
  background-size: cover;
  padding: 13px;
  box-sizing: border-box;
}

.concluir {
  text-decoration: line-through;
  text-decoration-color: crimson;
}